@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #27272a;
  min-width: 350px;
  min-height: 100vh;
}

/* タグ一覧のスクロールバーのスタイル修正 */
.tagContainer::-webkit-scrollbar {
  height: 3px;
  border-radius: 20px;
}
.tagContainer::-webkit-scrollbar-thumb {
  background-color: #52525b;
  border-radius: 20px;
}

/* Aboutページの画像スタイル修正 */
.aboutImg {
  clip-path: ellipse(43% 50% at 51% 50%);
}
@media screen and (max-width: 1024px) {
  /* 幅1024px以下に適用 */
  .aboutImg {
    clip-path: ellipse(50% 50% at 51% 50%);
  }
}

/* リッチエディタのスタイル修正  */
code.hljs {
  background-color: #212121;
  border-radius: 5px;
  color: #e5f6f6;
}

/* ページTOPに戻る */
#page_top {
  width: 100px;
  height: 80px;
  position: fixed;
  right: 0;
  bottom: 0;
  background: rgba(209, 213, 219, 0.6);
  opacity: 1;
  z-index: 10;
}

#page_top::before {
  content: url(/public/chevron-up-solid.svg);
  position: absolute;
  width: 25px;
  height: 25px;
  top: -25px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
#page_top::after {
  content: "PAGE TOP";
  font-size: 14px;
  color: #000;
  position: absolute;
  top: 40px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
